.header>.container>.row{
    justify-content: space-between;
}

.list ul{
    gap: 60px;
}

.list ul a{
    color: #3A3845;
    text-transform: capitalize;
}

.icons ul{
    gap: 24px;
}

.logo{
    margin: 21.84px 0px;
}

.collections .row {
    gap: 30px;
    text-align: center;
}

.collection{
    width: calc((100% - 90px) / 4);
    margin: 80px 0px;
}

.collection h2{
    margin-top: 23px;
    text-transform: uppercase;
    color: #3A3845;
}


